.users-container{
    display: flex;
    flex-wrap: wrap;
    
}

.user{
    cursor: pointer;
padding-left: 10px;
 margin: 5px;
 border: 1px solid black;
 width: 30%;
}

.userfullinfo{
    padding-left: 10px;
    margin: 5px;
    border: 1px solid black;
    width: 30%;
}

.user:hover{
    box-shadow: 5px 10px black;
}

.user:active{
    box-shadow: 5px 10px greenyellow;
}

li{
    cursor: pointer;
}
li:active{
    
    color: aquamarine;
}
.author{
    text-decoration: underline;
    font-size: 20px;
    color: rgb(145, 18, 143);
    cursor: pointer;
}
.news{
    cursor: pointer;
    padding: 4px;
    margin-top: 4px;
    width: 100%;
    border: 1px solid black;
}
.news:hover{
    
    box-shadow: 2px 6px black;
}

.news:active{
    box-shadow: 2px 6px greenyellow;
}